// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
	color: green;
	font-weight: bold;
	text-align: center;
}

h3 {
	text-align: center;
	font-weight: lighter;
	opacity: 0.6;
}

.nav {
	margin-left: 50px;
	font-weight: bold;

}

#logo {
	color: black;
	font-weight: bold;
}

.navbar {
	background-color: #f5f2ea;
	opacity: 0.95;

}



body {
	padding-top: 70px;
}

footer {
	background-color: #f5f2ea;;
	color: black;
	position: fixed;
	bottom: 0px;
	height: 20px;
	width: 100%;
	opacity: 0.8;
}

#bikeimage {
	margin-left: 200px;
}

.products {
	margin-top: 150px;
	margin-left: 550px;
}

.items td {
	padding: 10px;
}

.items th {
	padding: 10px;
}

.product-button {
	background-color: gray;
	color: white;
	margin-bottom: 30px;
	}

.products {
	display: inline-block;
}

.descriptions {
	font-weight: bold;
	border-bottom: 2px solid black;
}


.navigation {
	width: 100%;
}


.form {
	display: inline-block;
	position: relative;
	float: right;
	top: 13px;
	left: 20px;

}

.input-form {
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
}

.search-label-tag {
	margin-top: 6px;
}

.log-buttons {
	display: inline-block;
	float: left;
}

.product-display {
	position: absolute;
	left: 25%;

	
}

.products-index {
	margin-left: 33%;
}